@inject NavigationElementService nes

<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach(var nav in nes.NavigationLinks.OrderBy(i => i.Index))
        {
            @* TODO fix css, last one should be placed at the bottom in the nav menu *@
            <div class="nav-item px-3" @onclick="@(() =>{nes.SetActive(nav);})">
                <NavLink class="nav-link" href="@nav.Href" Match="NavLinkMatch.All">
                    <span class="oi @nav.Icon" aria-hidden="true"></span>
                    <b>@nav.DisplayName</b>
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu(MouseEventArgs args)
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
